<div class="bodyc">
    <div class="content container">
        <h2>Nuestra Historia</h2>
        <p>
            Somos una empresa dedicada a la venta de autos en línea. Fundada en 2020, hemos crecido rápidamente gracias
            a nuestro compromiso con la calidad y el servicio al cliente. Nuestro objetivo es proporcionar a nuestros
            clientes la mejor experiencia de compra de autos en línea.
        </p>
        <h2>Nuestro Equipo</h2>
        <p>
            Contamos con un equipo de profesionales apasionados por los autos y la tecnología. Nuestro equipo trabaja
            incansablemente para ofrecer una amplia variedad de autos a precios competitivos, y para asegurarse de que
            cada cliente tenga una experiencia de compra sin complicaciones.
        </p>
        <h2>Nuestra Misión</h2>
        <p>
            Nuestra misión es ser el líder en la venta de autos en línea, proporcionando a nuestros clientes una
            experiencia de compra excepcional y una selección inigualable de vehículos. Nos esforzamos por innovar
            continuamente y mejorar nuestros servicios para satisfacer las necesidades de nuestros clientes.
        </p>
    </div>
</div>